.todo-form {
  display: flex;
  gap: 10px;
}
.todo-form input {
  flex: 1;
  padding: 8px;
}
.todo-form button {
  padding: 8px 16px;
}

.todo-list {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
}

.contact-form input,
.contact-form textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

.todo-form-section,
.todo-list-section {
  width: 48%;
}

body {
  font-family:Verdana, Geneva, Tahoma, sans-serif
}
.container h2 {
  font-size: 1.5rem;
}
button {
  background-color: olive
  color: white;
  border: none;
}
button:hover {
  background-color: beige
}
.todo-list span {
  cursor: pointer;
}

.filter-buttons button {
  margin-right: 10px;
  padding: 6px 12px;
  border: none;
  background-color: beige
  cursor: pointer;
  border-radius: 4px;
}
.filter-buttons button:hover {
  background-color: whitesmoke
}