body {
  margin: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  background-color:cadetblue;
  font-family: papyrus;
  text-align: center;
  padding: 20px;

}

p {
  text-align: center;
}

form{
  width: 500px;
  height: auto;
   margin: 0 auto; 
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label{
  display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input, textarea{
   width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.container {
   margin: 0 auto; 
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #f98ace;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h3 {
  text-align: left;
  font-family:cursive;
}

button {
  background-color: olivedrab;
  color: beige;
}

button:hover {
  background-color: #ccc;
}
